# Fortify on Demand options (uncomment and configure to enabled FoD scan)
# Environment variables: FOD_API_URL, FOD_USERNAME, FOD_PASSWORD, FOD_TENANT, PACKAGE_FILE, FOD_APPLICATION_NAME, FOD_RELEASE_NAME
[fod]
FodApiUrl=https://api.emea.fortify.com
#FoDClientId=YOUR_FOD_CLIENT_ID_HERE
#FodClientSecret=YOUR_FOD_CLIENT_SECRET_HERE
FodUsername=
FodPassword=
FodTenant=
PackageFile=fortifypackage.zip
FodApplicationName=IWA-Java
FodReleaseName=main
#FodReleaseId
ApiScope=api-tenant
PollingInterval=10
WaitFor=true
